[{elvis,
  [{config,
    [#{dirs => ["src/**"],
       filter => "*.erl",
       ignore => ["src/rebar3_typer_prv.erl"],
       ruleset => erl_files},
     #{dirs => ["test/**"],
       filter => "*.erl",
       ruleset => erl_files},
     #{dirs => ["."],
       filter => "rebar.config",
       ruleset => rebar_config},
     #{dirs => ["."],
       filter => "elvis.config",
       ruleset => elvis_config}]},
   {verbose, false}]}].
