{erl_opts,
 [debug_info,
  warn_export_vars,
  warn_missing_specs,
  warn_unused_import,
  warnings_as_errors,
  {i, "src"}]}.

{deps, []}.

{minimum_otp_vsn, "23"}.

{profiles,
 [{test, [{deps, [{meck, "~> 0.9.2"}]}, {dialyzer, [{plt_extra_apps, [common_test]}]}]}]}.

{project_plugins,
 [{rebar3_hex, "~> 7.0.1"},
  {rebar3_format, "~> 1.0.1"},
  {rebar3_lint, "~> 1.0.1"},
  {rebar3_hank, "~> 1.2.2"}]}.

{dialyzer, [{warnings, [no_return, unmatched_returns, error_handling, underspecs]}]}.

{xref_checks,
 [deprecated_function_calls, exports_not_used, locals_not_used, undefined_function_calls]}.

{edoc_opts,
 [{todo, true},
  {title, "rebar3_typer"},
  {overview, "priv/overview.edoc"},
  {includes, ["src"]},
  {preprocess, true},
  {packages, true},
  {subpackages, true},
  {source_path, "src"},
  {application, rebar3_typer},
  {new, true},
  report_missing_types]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{provider_hooks, [{pre, [{ct, dialyzer}]}]}.

{alias,
 [{test, [compile, format, lint, hank, dialyzer, {ct, "--verbose"}, cover, edoc]}]}.

{format, [{files, ["src/**/*.app.src", "src/**/*.erl", "test/**/*.erl", "*.config"]}]}.

{hex, [{doc, edoc}]}.
